# 範例一 : 各公司每月月報(宏觀，多(產業別)
https://smlpoints.com/notes-request-web-crawler-for-monthly-report-with-analysis-by-python.html

In [2]:
import requests
import pandas as pd
import sqlite3
from io import StringIO


date = '108_7' #改這裡
url = 'https://mops.twse.com.tw/nas/t21/sii/t21sc03_{0}_0.html'.format(date)
r = requests.get(url)
r.encoding = 'big5'
dfs = pd.read_html(StringIO(r.text))
                                                                                    # 取得的dfs資料，將 row 的長度介於 6~11 的合併，所以用 concat 擷取                                                                               # 運用 for in 方法瀏覽 dfs 裡頭的所有 df，將 df.shape[1] 的長度在 6~11 之內的 row，擷取並組合成一個                                                                                # 新的 df，再將這個結果命名為 df 
df = pd.concat([df for df in dfs if df.shape[1] <= 11 and df.shape[1] > 5])
df.columns = df.columns.get_level_values(1)# 設定欄位名稱
df = df[ (df['公司代號'] != '合計') & (df['公司代號'] != '全部國內上市公司合計')]       # 將公司代號欄位中，不包含 "合計" 的重新組合成一個新的 dataFrame
df['當月營收'] = pd.to_numeric(df['當月營收'], errors='coerce')                       # 將 df 中的當月營收用 .to_numeric 轉成數字，其餘變成 NaN
df = df[~df['當月營收'].isnull()]                                                    # 將當月營收欄位中有 NaN 的刪除
df = df.set_index(['公司代號', '公司名稱'])                                           # 將公司代號和公司名稱設為 index

df.to_csv('./Data/{0}_各公司每月月報.csv'.format(date), encoding='utf_8_sig')                                         # 儲存成 csv 檔

print("連結網址 : {0}".format(url))
df

連結網址 : https://mops.twse.com.tw/nas/t21/sii/t21sc03_108_7_0.html

,,備註,上月比較增減(%),上月營收,去年同月增減(%),去年當月營收,當月營收,前期比較增減(%),去年累計營收,當月累計營收
公司代號,公司名稱,,,,,,,,,
1101,台泥,-,6.30,9866871,-4.76,11013654,10489337,-1.89,68513898,67212820
1102,亞泥,-,3.67,7536507,11.28,7021279,7813300,12.12,46031514,51610988
1103,嘉泥,-,21.57,130823,2.98,154429,159044,-9.16,1155356,1049488
1104,環泥,-,12.51,353927,13.49,350896,398238,4.27,2665751,2779704
1108,幸福,-,15.14,271998,18.48,264328,313198,5.13,1948573,2048651
...,...,...,...,...,...,...,...,...,...,...
9941,裕融,-,-3.40,2498869,22.15,1975944,2413802,22.85,13075572,16064536
9942,茂順,-,8.93,234899,-6.45,273542,255884,-7.72,1910024,1762552
9944,新麗,-,-6.63,241288,-17.12,271834,225275,-9.25,2052320,1862282
9945,潤泰新,-,4.36,1422606,23.86,1198591,1484640,15.21,8270200,9528867
9955,佳龍,-,27.75,180873,-21.50,294374,231067,-17.90,1296439,1064305